@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkgreen: #29584fff;
  --orange : #ef8d2fff;
  --palely: #ede7d4ff;
  --secondary-color: #000;
  --keyboard-height : 10em;
}

* {
  box-sizing:border-box
}

body {
  margin:0;
  @apply bg-palely
}

h1 {
  @apply text-xl font-bold font-[Montserrat] text-darkgreen;
}

p {
  @apply text-sm font-[Montserrat] text-darkgreen;
}

label {
  @apply text-sm font-[Montserrat] text-darkgreen mt-2;
}

input[type="text"],input[type="number"]{
  @apply rounded-full bg-palely border-darkgreen p-1 pl-6 text-sm  text-darkgreen mt-0;
}

input[type="number"]{
  width: 100%;
}

input.checkbox{
  @apply h-[20pt];
  aspect-ratio: 1;
}

.keyboard {
  display: flex;
  @apply w-full overflow-visible overflow-x-auto;
  height: var( --keyboard-height);
  position:relative;
  /* border:1px solid #160801;
  border-radius:1em; */
  @apply bg-chocomilk rounded-3xl;
  /* box-shadow:0 0 50px rgba(0,0,0,0.5) inset,0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5) */
}

li {
  margin:0;
  padding:0;
  list-style:none;
  position:relative;
  float:left
}

.keyboard .white {
  height:var( --keyboard-height);
  width:3em;
  z-index:1;
  @apply border-2 border-solid border-darkgreen rounded-b-2xl shrink-0;
  /* border-radius:0 0 5px 5px; */
  /* box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2); */
  background:linear-gradient(to bottom,#eee 0%,var(--palely) 100%);
  box-shadow: 0px 35px 0px 0px var(--darkgreen)
}

.keyboard .active {
  height: calc(var( --keyboard-height) + 2em);
  box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#fff 0%, var(--palely) 100%)
}

.black {
  height:8em;
  width:2em;
  margin:0 0 0 -1em;
  z-index:2;
  border:1px solid #000;
  border-radius:0 0 3px 3px;
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
  background:linear-gradient(45deg,#222 0%,#555 100%)
}

.black:active {
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
  background:linear-gradient(to right,#444 0%,#222 100%)
}

.a,.g,.f,.d,.c {
  margin:0 0 0 -1em
}

ul li:first-child {
  border-radius:5px 0 5px 5px
}

ul li:last-child {
  border-radius:0 5px 5px 5px
}

@keyframes wave {
  0% {background-position-x: 0px;}
  100% {background-position-x: 100vw;}
}

@keyframes wavesm {
  0% {background-position-x: 0px;}
  100% {background-position-x: 200vw;}
}

.hill_1 {
  position: absolute;
  @apply bottom-0 left-0 w-full h-full ;
  z-index: -50;
  background-image: url('$lib/assets/hill_front.png');
  @apply bg-[length:200%] md:bg-[length:100%];
  @apply bg-[bottom_right] xl:bg-[bottom_-120pt_right];
  background-repeat : repeat-x;
  @apply animate-[wavesm] md:animate-[wave];
  @apply animate-duration-[30s] md:animate-duration-[60s];
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.hill_2 {
  position: absolute;
  @apply bottom-[-24pt] sm:bottom-0 left-0 w-full h-full ;
  z-index: -50;
  background-image: url('$lib/assets/hill_back.png');
  @apply bg-[length:200%] md:bg-[length:100%];
  @apply  bg-[bottom_150pt_right] xl:bg-[bottom_100pt_right];
  background-repeat : repeat-x;
  @apply animate-[wavesm] md:animate-[wave];
  @apply animate-duration-[15s] md:animate-duration-[30s];
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.card{
  box-shadow: 0px 10px 0px 5px var(--darkgreen);
}

.note_button {
  @apply rounded-full w-[30px] h-[30px] origin-center bg-orange hover:bg-midorange focus:bg-darkorange;
}

.tuningcard {
  @apply rounded-3xl p-8 h-fit min-w-[280px] w-fit bg-chocomilk flex flex-col justify-center items-center ;
  @apply sm:flex-row;
  box-shadow: 0px 10px 0px 5px var(--darkgreen);
}

.button {
  display: block;
  @apply rounded-3xl border border-darkgreen  text-sm p-1;
  box-shadow: 0px 3px 0px 2px var(--darkgreen);
}

.button:active {
  box-shadow: 0px 0px 0px 0px var(--darkgreen);
}